CREATE CONSTRAINT ON (r:Refugee) ASSERT r.Passport IS UNIQUE;
CREATE CONSTRAINT ON (r:Refugee) ASSERT r.Id IS UNIQUE;

CREATE CONSTRAINT ON (h:HotSpot) ASSERT h.Id IS UNIQUE;
CREATE CONSTRAINT ON (h:HotSpot) ASSERT h.Name IS UNIQUE;