<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Refugee.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="serilog:minimum-level" value="Information" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="%APPLICATION_PHYSICAL_PATH%\App_Data\logs-{Date}.txt" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>

  <connectionStrings>
    <add name="Refugee" connectionString="Server=127.0.0.1;Port=5432;Database=Refugee;User Id=postgres;Password=postgres;" />
  </connectionStrings>

  <system.webServer>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <modules>
      <remove name="WebDAVModule" />
    </modules>

    <validation validateIntegratedModeConfiguration="false" />

    <directoryBrowse enabled="false" />
  </system.webServer>

  <applicationSettings>
    <Refugee.Server.Properties.Settings>
      <setting name="PlatformName" serializeAs="String">
        <value>Refugee</value>
      </setting>
      <setting name="Neo4jUserName" serializeAs="String">
        <value>neo4j</value>
      </setting>
      <setting name="Neo4jPassword" serializeAs="String">
        <value>neo4j</value>
      </setting>
      <setting name="Neo4jServerUrl" serializeAs="String">
        <value>http://localhost:7474/db/data</value>
      </setting>
      <setting name="AuthenticationRealm" serializeAs="String">
        <value>Refugee</value>
      </setting>
      <setting name="AuthenticationRequiresHttps" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UnderageAgeThreshold" serializeAs="String">
        <value>18</value>
      </setting>
    </Refugee.Server.Properties.Settings>
  </applicationSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>